*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* section ONE STARTS here */
.sectionOne{
    width: 100%;
    height: 100vh;
    background-image: url(../Images/backgroundImage2.jpg);
}
.navBar{
    height: 8vh;
    display: flex;
    justify-content: space-between;
}
/* nav bar links.... Home Home LOg Out */
.navBarLInk{
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0, 0.5);
}
/* nav bar ul */
.navBarList{
    display: flex;
    list-style: none;
    margin-top: 20px;
}
/* nav bar ul li */
.navBarList li{
    margin: 0 20px 0 20px;
    font-weight: bold;
    font-size: 17px;
}
/* div containing div with profile pic */
.withProfile{
    /* width: 50px; */
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
/*div with profile pic */
.profileImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(/Images/man.jpg);
    background-size: cover;   
}
/* div with the welcome back messages */
.messages{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
/* welcome back heading */
.welcomeBack{
    color: #796829;
    line-height: normal;
    font-size: 40px;
    font-weight: 540;
}
.p1{
    color: rgb(121, 104, 41, 0.7);
    font-size: 20px;
}
/* div with the 3 boxes */
.withBoxes{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.boxOne{
    width: 30%;
    height: 360px;
    background-color: white;
    bottom: 0px;
    border-radius: 8px;
    box-shadow: 6px 5px 8px rgb(0, 0, 0, 0.3);
    margin-top: auto;
}
.boxTwo{
    width: 30%;
    height: 420px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 5px 8px rgb(0, 0, 0, 0.3);
}
.boxThree{
    width: 30%;
    height: 360px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 6px 5px 8px rgb(0, 0, 0, 0.3);
    margin-top: auto;
}
/* size of icon */
.iconSize{
    color: #D4CF29;
}
/* div inside the three boxes */
.inside{
    width: 85%;
    height: 85%;
    margin: auto;
    margin-top: 30px;
    position: relative;
}
.inside h2{
    font-weight: 540;
    margin: 10px 0 4px 0;
}
.inside p{
    font-size: 14px;
    color: rgb(0, 0, 0, 0.5);
}
/* btn */
.clickHere{
    border-style: none;
    width: 100%;
    padding: 9px 0 9px 0;
    font-size: 20px;
    font-weight: 560;
    background-color: rgb(121, 104, 41, 0.5);
    cursor: pointer;
    margin-top: 8px;
}
.blue{
    background-color: rgb(193, 220, 224, 0.6);
}
/* link tag 'a' */
.clickLink{
    text-decoration: none;
    color: white;
}
/* link tag 'a' for center button */
.clickLinkBrown{
    text-decoration: none;
    color: rgb(121, 104, 41, 0.7);
}
/* div in inside but at the bottom */
.bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.down{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}