@media screen and (max-width: 600px) {
    .withBoxes {
      /* background-color: purple; */
    }
    .sectionOne{
      min-height: 100vh;
    }
    /* welcome back heading */
      .welcomeBack{
        font-size: 30px;
      }
      .p1{
        font-size: 15px;
      }
    /* div with the 3 boxes */
      .withBoxes{
        width: 340px;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 50px;
      } 
      .boxOne{
        margin: 0 0 40px 0;
      }
      .boxTwo{
        margin-bottom: 40px;
      }

}
  